*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand',sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    background:url("WatchfulUnequaledElk-size_restricted.gif") ;
    background-repeat: repeat;
    background-size: cover;

}
body::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#e91e63,#ffffff);
    clip-path: circle(14% at 0% 0%);

}
body::after
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#ffffff,#ffbb00);
    clip-path: circle(15% at 100% 100%);

}
.container
{
    position: relative;
    background: rgba(255,255,255,0.05);
    border-radius: 6px;
    overflow: hidden;
    z-index: 10;
    border-top: 1px solid rgba(255,255,255,0.2);
    border-left: 1px solid rgba(255,255,255,0.2);
    box-shadow: 5px 5px 30px rgba(0,0,0,0.2);
}
.container .calculator{
    position: relative;
    display: grid;
}
.container .calculator .value{
    grid-column: span 4;
    height: 140px;
    width: 300px;
    text-align: right;
    border: none;
    outline: navajowhite;
    padding: 10px;
    font-size: 30px;
    background: transparent;
    color: #fff;
    border-top: 1.5px solid rgba(255,255,255,0.05);
    border-left: 1.5px solid rgba(255,255,255,0.05);

}
.container .calculator span
{
    display: grid;
    place-items: center;
   width: 75px;
    height: 75px;
    color: #fff;
    font-weight: 400;
    cursor: pointer;
    font-size: 20px;
    user-select: none;
    border-bottom: 1.5px solid rgba(255,255,255,0.1);
    border-right: 1.5px solid rgba(255,255,255,0.1);
    transition: 0.5s;

}
.container .calculator span:hover
{
    transition: 0s;
    background: rgba(255,255,255,0.05);
}
.container .calculator span:active
{
    background: #fff;
    color:#192f00;
    font-size: 24px;
    font-weight: 500;
}

.container .calculator .clear
{
    grid-column: span 2;
    width: 150px;
    background: rgba(255,255,255,0.05);
}
.container .calculator .plus
{
    grid-row: span 2;
    height: 150px;
}
.equal
{
    background: rgba(255,255,255,0.05);
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 10px;
}

.name{
   
    color: #fff;
    font-size: 20px;
    z-index: 11;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: 2px solid #e91e63;
    border-radius: 10px;
    padding: 2.5px;
    border-start-end-radius: 2px;
    border-bottom-left-radius: 2px;
    background: linear-gradient(#a10cf7,#fa07fa);
    -webkit-box-reflect:  below 0.1em linear-gradient(transparent,rgba(255, 255, 255, 0.226)) ;
}
.name:hover{
    background: linear-gradient(#a200ff,#941a94);
}
